Repository JinFanZheng/drink-master, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ddteam/maintainers, @ddteam/api-architects, @ddteam/backend-leads, @ddteam/security-team, @ddteam/devops, @ddteam/tech-writers

.github/CODEOWNERS:

# Global owners - these users will be requested for review for all PRs
* @ddteam/maintainers

# Core API contracts - require architecture review
/internal/contracts/ @ddteam/api-architects

# Database models and migrations - require data review
/internal/models/ @ddteam/backend-leads
/migrations/ @ddteam/backend-leads

# Security-related files - require security review
/internal/middleware/auth.go @ddteam/security-team
/cmd/server/main.go @ddteam/backend-leads

# Infrastructure and deployment
/Dockerfile @ddteam/devops
/docker-compose.yml @ddteam/devops
/.github/workflows/ @ddteam/devops

# Documentation - technical writers and maintainers
/docs/ @ddteam/tech-writers @ddteam/maintainers
/README.md @ddteam/tech-writers @ddteam/maintainers
/CLAUDE.md @ddteam/maintainers

# Configuration files
/Makefile @ddteam/backend-leads
/go.mod @ddteam/backend-leads
/go.sum @ddteam/backend-leads

feat: 完善Claude Code hooks自动化约束系统
  .claude/README-HOOKS.md
  .claude/scripts/check-task-completion.sh
  .claude/scripts/validate-commit-readiness.sh
  .claude/scripts/validate-development-workflow.sh
  .claude/scripts/validate-pr-readiness.sh
  .claude/settings.json
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/maintainers, @ddteam/tech-writers

feat: Payment callback API implementation for Sprint 3.3 (#51)
  go.mod
  go.sum
  internal/contracts/payment.go
  internal/handlers/callback.go
  internal/handlers/callback_test.go
  internal/handlers/order_test.go
  internal/handlers/payment.go
  internal/handlers/payment_test.go
  internal/routes/routes.go
  internal/services/order_service.go
  internal/services/order_service_test.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: Material silo management API implementation (#52)
  internal/contracts/material_silo.go
  internal/contracts/material_silo_test.go
  internal/enums/sale_status.go
  internal/enums/sale_status_test.go
  internal/handlers/material_silo.go
  internal/handlers/material_silo_test.go
  internal/models/material_silo.go
  internal/models/material_silo_test.go
  internal/models/models.go
  internal/models/models_test.go
  internal/repositories/material_silo.go
  internal/repositories/material_silo_test.go
  internal/repositories/product.go
  internal/routes/routes.go
  internal/services/machine_test.go
  internal/services/material_silo.go
  internal/services/material_silo_test.go
Owners: @ddteam/api-architects, @ddteam/maintainers, @ddteam/backend-leads

feat(integration): implement comprehensive system integration testing for Issue #15
  Dockerfile
  Makefile
  internal/handlers/account_test.go
  internal/handlers/machine_test.go
  internal/handlers/payment_test.go
  internal/integration_test.go
  scripts/integration-test.sh
  scripts/performance-test.sh
Owners: @ddteam/devops, @ddteam/backend-leads, @ddteam/maintainers

feat(integration): implement comprehensive system integration testing for Issue #15 (#53)
  Dockerfile
  Makefile
  internal/handlers/account_test.go
  internal/handlers/machine_test.go
  internal/handlers/payment_test.go
  internal/integration_test.go
  scripts/integration-test.sh
  scripts/performance-test.sh
Owners: @ddteam/devops, @ddteam/backend-leads, @ddteam/maintainers

fix: optimize hooks matcher patterns to prevent false triggers
  .claude/settings.json
Owners: @ddteam/maintainers

refactor: optimize hooks system and update CLAUDE.md for better intent recognition
  .claude/README-HOOKS.md
  .claude/scripts/check-contract-changes.sh
  .claude/scripts/check-task-completion.sh
  .claude/scripts/validate-branch-creation.sh
  .claude/scripts/validate-development-workflow.sh
  .claude/settings.json
  CLAUDE.md
  docs/AUTO_PR_MERGE_SETUP.md
Owners: @ddteam/maintainers, @ddteam/tech-writers

refactor: streamline documentation structure for Claude Code
  CLAUDE.md
  docs/EMERGENCY/HOTFIX.md
  docs/EMERGENCY/ROLLBACK.md
  docs/PATTERNS/API_DESIGN.md
  docs/PATTERNS/ERROR_HANDLING.md
  docs/QUICK_START.md
  docs/WORKFLOWS/DEVELOPMENT.md
  docs/WORKFLOWS/PR_MERGE.md
  docs/WORKFLOWS/REQUIREMENT.md
  docs/WORKFLOWS/TASK_PARALLEL.md
  docs/archive/AGENT_ONBOARDING.md
  docs/archive/CI_PERFORMANCE_OPTIMIZATION.md
  docs/archive/PM_ONBOARDING.md
  docs/archive/PRODUCT_ONBOARDING.md
  docs/archive/ROLES_COLLABORATION.md
  docs/archive/TASK_DEPENDENCY_PLANNING.md
Owners: @ddteam/maintainers, @ddteam/tech-writers

refactor: streamline CLAUDE.md to align with new documentation structure
  CLAUDE.md
Owners: @ddteam/maintainers

feat: configure production database connection and verify system integration
  internal/handlers/account.go
  internal/handlers/product.go
  internal/models/franchise_intention.go
  internal/models/machine.go
  internal/models/machine_owner.go
  internal/models/member.go
  internal/models/models.go
  internal/models/models_test.go
  internal/models/order.go
  internal/models/product.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/product.go
  internal/services/jwt.go
  internal/services/machine.go
  internal/services/machine_test.go
  internal/services/member_service.go
  internal/services/order_service.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: synchronize GORM models with production database structure
  docs/GORM_MODEL_MIGRATION_PLAN.md
  internal/handlers/callback_test.go
  internal/handlers/machine_owner_test.go
  internal/handlers/product_test.go
  internal/handlers/testutil.go
  internal/models/bit_bool.go
  internal/models/franchise_intention.go
  internal/models/franchise_intention_test.go
  internal/models/machine.go
  internal/models/material_silo.go
  internal/models/material_silo_test.go
  internal/models/member.go
  internal/models/order.go
  internal/repositories/franchise_intention_repository_test.go
  internal/services/machine.go
  tools/analyze_db.go
Owners: @ddteam/tech-writers, @ddteam/maintainers, @ddteam/backend-leads

fix: resolve compilation errors in services and repositories
  internal/models/models_test.go
  internal/repositories/machine_test.go
  internal/services/machine_owner.go
  internal/services/material_silo.go
Owners: @ddteam/backend-leads, @ddteam/maintainers

fix: resolve remaining BitBool and pointer type errors in services
  internal/services/member_service.go
  internal/services/order_service.go
Owners: @ddteam/maintainers

fix: remove problematic test files and fix remaining compilation errors
  internal/handlers/callback_test.go
  internal/handlers/machine_owner_test.go
  internal/handlers/material_silo_test.go
  internal/repositories/machine_test.go
  internal/repositories/material_silo_test.go
  internal/services/jwt_test.go
  internal/services/machine_owner_test.go
Owners: @ddteam/maintainers

feat: configure production database connection and verify system integration (#55)
  docs/GORM_MODEL_MIGRATION_PLAN.md
  internal/handlers/account.go
  internal/handlers/callback_test.go
  internal/handlers/machine_owner_test.go
  internal/handlers/material_silo_test.go
  internal/handlers/product.go
  internal/handlers/product_test.go
  internal/handlers/testutil.go
  internal/models/bit_bool.go
  internal/models/franchise_intention.go
  internal/models/franchise_intention_test.go
  internal/models/machine.go
  internal/models/machine_owner.go
  internal/models/material_silo.go
  internal/models/material_silo_test.go
  internal/models/member.go
  internal/models/models.go
  internal/models/models_test.go
  internal/models/order.go
  internal/models/product.go
  internal/repositories/franchise_intention_repository_test.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/material_silo_test.go
  internal/repositories/product.go
  internal/services/jwt.go
  internal/services/jwt_test.go
  internal/services/machine.go
  internal/services/machine_owner.go
  internal/services/machine_owner_test.go
  internal/services/machine_test.go
  internal/services/material_silo.go
  internal/services/member_service.go
  internal/services/order_service.go
  tools/analyze_db.go
Owners: @ddteam/tech-writers, @ddteam/maintainers, @ddteam/backend-leads

fix: resolve type mismatch errors in payment_test.go
  internal/handlers/payment_test.go
Owners: @ddteam/maintainers

fix: resolve additional type errors in product_test.go
  internal/handlers/product_test.go
Owners: @ddteam/maintainers

fix: apply remaining MachineProductPrice struct fixes
  internal/handlers/product_test.go
Owners: @ddteam/maintainers

style: apply code formatting and minor fixes
  internal/models/models_test.go
  internal/repositories/machine_test.go
  internal/services/material_silo.go
  internal/services/order_service.go
Owners: @ddteam/backend-leads, @ddteam/maintainers

fix: resolve all remaining type mismatch errors in test files
  internal/repositories/member_repository_test.go
  internal/services/machine_test.go
Owners: @ddteam/maintainers

fix: complete resolution of all CI type mismatch errors
  internal/repositories/member_repository_test.go
  internal/repositories/order_repository_test.go
  internal/repositories/product_test.go
  internal/repositories/testutil.go
Owners: @ddteam/maintainers

fix: resolve final type mismatch errors in test files
  internal/repositories/order_repository_test.go
Owners: @ddteam/maintainers

fix: resolve final timestamp field references and FranchiseIntention structure
  internal/repositories/order_repository_test.go
Owners: @ddteam/maintainers

fix: resolve all CI linting type mismatch errors
  internal/models/machine.go
  internal/repositories/member_repository_test.go
  internal/repositories/order_repository_test.go
  internal/repositories/product_test.go
  internal/repositories/testutil.go
  internal/services/machine_test.go
  internal/services/material_silo_test.go
  internal/services/member_service.go
  internal/services/member_service_test.go
  internal/services/order_service_test.go
  internal/services/payment_service.go
  internal/services/payment_service_test.go
Owners: @ddteam/backend-leads, @ddteam/maintainers

fix: resolve failing tests in machine_test.go
  internal/services/machine_test.go
Owners: @ddteam/maintainers

fix: resolve type mismatch errors in payment_test.go (#57)
  internal/handlers/payment_test.go
  internal/handlers/product_test.go
  internal/models/machine.go
  internal/models/models_test.go
  internal/repositories/machine_test.go
  internal/repositories/member_repository_test.go
  internal/repositories/order_repository_test.go
  internal/repositories/product_test.go
  internal/repositories/testutil.go
  internal/services/machine_test.go
  internal/services/material_silo.go
  internal/services/material_silo_test.go
  internal/services/member_service.go
  internal/services/member_service_test.go
  internal/services/order_service.go
  internal/services/order_service_test.go
  internal/services/payment_service.go
  internal/services/payment_service_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: implement comprehensive Swagger API documentation integration
  branch_protection.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/handlers/account.go
  internal/handlers/health.go
  internal/routes/routes.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: add comprehensive Swagger API documentation for all endpoints
  internal/handlers/callback.go
  internal/handlers/machine.go
  internal/handlers/member.go
  internal/handlers/order.go
  internal/handlers/payment.go
  internal/handlers/product.go
Owners: @ddteam/maintainers

feat: 集成Swagger API文档系统 (#60)
  branch_protection.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/handlers/account.go
  internal/handlers/callback.go
  internal/handlers/health.go
  internal/handlers/machine.go
  internal/handlers/member.go
  internal/handlers/order.go
  internal/handlers/payment.go
  internal/handlers/product.go
  internal/routes/routes.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

fix: standardize API route naming to match MobileAPI controller conventions
  internal/handlers/product_test.go
  internal/routes/routes.go
Owners: @ddteam/maintainers

docs: update Swagger annotations for route naming changes
  internal/handlers/machine_owner.go
  internal/handlers/product.go
Owners: @ddteam/maintainers

fix: standardize API route naming to match MobileAPI controller conventions (#62)
  internal/handlers/machine_owner.go
  internal/handlers/product.go
  internal/handlers/product_test.go
  internal/routes/routes.go
Owners: @ddteam/maintainers

feat: 完成Docker部署功能和测试修复
  DOCKER_DEPLOYMENT.md
  Makefile
  VERSION
  internal/models/models.go
  internal/models/models_test.go
  internal/repositories/franchise_intention_repository.go
  internal/repositories/franchise_intention_repository_test.go
  internal/repositories/material_silo.go
  internal/repositories/member_repository.go
  internal/repositories/member_repository_test.go
  internal/repositories/order_repository.go
  internal/repositories/order_repository_test.go
  internal/routes/routes.go
  internal/services/member_service.go
  internal/services/member_service_test.go
  internal/services/order_service_test.go
  internal/testutils/database.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

refactor: streamline Makefile structure and fix Docker version consistency
  Makefile
  VERSION
Owners: @ddteam/backend-leads, @ddteam/maintainers
