Repository JinFanZheng/drink-master, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ddteam/maintainers, @ddteam/api-architects, @ddteam/backend-leads, @ddteam/security-team, @ddteam/devops, @ddteam/tech-writers

fix: 完善项目文档和GitHub标签配置
  .github/labels.yml
  README.md
  docs/README.md
Owners: @ddteam/maintainers, @ddteam/tech-writers

feat: Sprint 1.1 - 完成数据库模型设计
  cmd/server/main.go
  go.mod
  go.sum
  internal/config/database.go
  internal/contracts/common.go
  internal/handlers/health.go
  internal/middleware/auth.go
  internal/middleware/cors.go
  internal/middleware/logger.go
  internal/models/machine.go
  internal/models/machine_owner.go
  internal/models/member.go
  internal/models/models.go
  internal/models/order.go
  internal/models/product.go
Owners: @ddteam/backend-leads, @ddteam/maintainers, @ddteam/api-architects, @ddteam/security-team

feat: Sprint 1.2 - API基础架构和JWT认证系统
  cmd/server/main.go
  internal/handlers/account.go
  internal/handlers/base.go
  internal/handlers/health.go
  internal/handlers/machine.go
  internal/handlers/member.go
  internal/handlers/order.go
  internal/handlers/payment.go
  internal/middleware/cors.go
  internal/routes/routes.go
Owners: @ddteam/backend-leads, @ddteam/maintainers

feat: 改进代码质量检查和构建流程
  .golangci.yml
  Makefile
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: Sprint 1.2 - API基础架构和JWT认证系统 (#17)
  .golangci.yml
  Makefile
  cmd/server/main.go
  go.mod
  go.sum
  internal/config/database.go
  internal/contracts/common.go
  internal/handlers/account.go
  internal/handlers/base.go
  internal/handlers/health.go
  internal/handlers/machine.go
  internal/handlers/member.go
  internal/handlers/order.go
  internal/handlers/payment.go
  internal/middleware/auth.go
  internal/middleware/cors.go
  internal/middleware/logger.go
  internal/models/machine.go
  internal/models/machine_owner.go
  internal/models/member.go
  internal/models/models.go
  internal/models/order.go
  internal/models/product.go
  internal/routes/routes.go
Owners: @ddteam/maintainers, @ddteam/backend-leads, @ddteam/api-architects, @ddteam/security-team

fix: 应用GitHub Actions修复到main分支
  .github/workflows/security.yml
  .golangci.yml
  internal/middleware/cors.go
Owners: @ddteam/devops, @ddteam/maintainers

fix: 解决CI和Security失败问题
  internal/middleware/auth.go
  internal/models/order.go
Owners: @ddteam/security-team, @ddteam/backend-leads

fix: 修复GitHub Actions CI和Security检查失败问题
  cmd/server/main.go
  internal/handlers/base.go
  internal/handlers/health.go
  internal/middleware/auth.go
  internal/models/machine.go
  internal/models/order.go
  internal/routes/routes.go
Owners: @ddteam/backend-leads, @ddteam/maintainers, @ddteam/security-team

feat: Sprint 1.1 - 完成数据库模型设计 (#16)
  cmd/server/main.go
Owners: @ddteam/backend-leads

fix: 修复安全漏洞和依赖版本问题
  go.mod
  go.sum
Owners: @ddteam/backend-leads

test: 添加单元测试以提高代码覆盖率至39.3%
  go.mod
  go.sum
  internal/config/database_test.go
  internal/contracts/common_test.go
  internal/handlers/base_test.go
  internal/handlers/health_test.go
  internal/middleware/cors_test.go
  internal/middleware/logger_test.go
  internal/models/models_test.go
  internal/routes/routes_test.go
Owners: @ddteam/backend-leads, @ddteam/maintainers, @ddteam/api-architects

feat: 完善测试覆盖率和CI/CD流程优化
  .github/ISSUE_COMMANDS.md
  .github/workflows/issue-automation.yml
  .github/workflows/security.yml
  .gosec.json
  CLAUDE.md
  docs/AGENT_ONBOARDING.md
  gosec-report.json
  internal/handlers/account_test.go
  internal/handlers/base_test.go
  internal/handlers/machine_test.go
  internal/handlers/member_test.go
  internal/handlers/order_test.go
  internal/handlers/payment_test.go
  internal/middleware/auth_test.go
  internal/models/models_test.go
Owners: @ddteam/maintainers, @ddteam/devops, @ddteam/tech-writers, @ddteam/backend-leads

style: 修复Go代码格式化问题
  internal/config/database_test.go
  internal/contracts/common_test.go
  internal/handlers/account_test.go
  internal/handlers/base_test.go
  internal/handlers/health_test.go
  internal/handlers/machine_test.go
  internal/handlers/member_test.go
  internal/handlers/order_test.go
  internal/handlers/payment_test.go
  internal/middleware/auth_test.go
  internal/middleware/cors_test.go
  internal/middleware/logger_test.go
  internal/models/models_test.go
  internal/routes/routes_test.go
Owners: @ddteam/maintainers, @ddteam/api-architects, @ddteam/backend-leads

docs: 添加Go代码格式化检查要求到开发指南
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

fix: 修复账户处理器测试失败问题
  internal/handlers/account.go
Owners: @ddteam/maintainers

feat: Sprint 1.3 微信登录集成完成
  go.mod
  go.sum
  internal/config/wechat.go
  internal/contracts/account.go
  internal/handlers/account.go
  internal/handlers/account_test.go
  internal/routes/routes.go
  internal/services/cache.go
  internal/services/cache_test.go
  internal/services/jwt.go
  internal/services/jwt_test.go
  internal/services/member.go
  pkg/wechat/client.go
  pkg/wechat/client_test.go
Owners: @ddteam/backend-leads, @ddteam/maintainers, @ddteam/api-architects

feat: implement Product management API with select list endpoint
  go.mod
  internal/contracts/product.go
  internal/contracts/product_test.go
  internal/handlers/product.go
  internal/handlers/product_test.go
  internal/routes/routes.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: implement machine owner sales API with comprehensive testing
  go.mod
  go.sum
  internal/contracts/machine_owner.go
  internal/contracts/machine_owner_test.go
  internal/handlers/machine_owner.go
  internal/handlers/machine_owner_test.go
  internal/routes/routes.go
  internal/services/machine_owner.go
  internal/services/machine_owner_test.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: 实现MachineController售货机管理功能
  go.mod
  go.sum
  internal/contracts/machine.go
  internal/contracts/machine_test.go
  internal/handlers/machine.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/product.go
  internal/repositories/product_test.go
  internal/services/device.go
  internal/services/device_test.go
  internal/services/machine.go
  internal/services/machine_test.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: Sprint 2.1 - 会员管理功能完整实现 (MemberController)
  internal/contracts/member.go
  internal/contracts/member_test.go
  internal/handlers/member.go
  internal/models/franchise_intention.go
  internal/models/models.go
  internal/repositories/franchise_intention_repository.go
  internal/repositories/member_repository.go
  internal/repositories/member_repository_test.go
  internal/routes/routes.go
  internal/services/member_service.go
  internal/services/member_service_test.go
Owners: @ddteam/api-architects, @ddteam/maintainers, @ddteam/backend-leads

test: 修复 CI 测试失败，提高测试覆盖率至 83.4%
  internal/handlers/member_test.go
  internal/models/franchise_intention_test.go
  internal/models/models_test.go
  internal/repositories/franchise_intention_repository_test.go
  internal/repositories/member_repository_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: implement machine owner sales API with comprehensive testing (#20)
  go.mod
  go.sum
  internal/contracts/machine_owner.go
  internal/contracts/machine_owner_test.go
  internal/handlers/machine_owner.go
  internal/handlers/machine_owner_test.go
  internal/routes/routes.go
  internal/services/machine_owner.go
  internal/services/machine_owner_test.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: implement Product management API with select list endpoint (#19)
  internal/contracts/product.go
  internal/contracts/product_test.go
  internal/handlers/product.go
  internal/handlers/product_test.go
  internal/routes/routes.go
Owners: @ddteam/api-architects, @ddteam/maintainers

feat: Sprint 2.1 - 会员管理功能 (MemberController) (#22)
  internal/contracts/member.go
  internal/contracts/member_test.go
  internal/handlers/member.go
  internal/handlers/member_test.go
  internal/models/franchise_intention.go
  internal/models/franchise_intention_test.go
  internal/models/models.go
  internal/models/models_test.go
  internal/repositories/franchise_intention_repository.go
  internal/repositories/franchise_intention_repository_test.go
  internal/repositories/member_repository.go
  internal/repositories/member_repository_test.go
  internal/routes/routes.go
  internal/services/member_service.go
  internal/services/member_service_test.go
Owners: @ddteam/api-architects, @ddteam/maintainers, @ddteam/backend-leads

Fix setupTestDB function conflict and update dependencies
  go.mod
  go.sum
  internal/repositories/machine_test.go
Owners: @ddteam/backend-leads, @ddteam/maintainers

feat: Sprint 2.2 - 售货机管理功能 (MachineController) (#21)
  go.mod
  go.sum
  internal/contracts/machine.go
  internal/contracts/machine_test.go
  internal/handlers/machine.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/product.go
  internal/repositories/product_test.go
  internal/services/device.go
  internal/services/device_test.go
  internal/services/machine.go
  internal/services/machine_test.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: WeChat login integration
  go.mod
  go.sum
  internal/config/wechat.go
  internal/contracts/account.go
  internal/handlers/account.go
  internal/handlers/account_test.go
  internal/routes/routes.go
  internal/services/cache.go
  internal/services/cache_test.go
  internal/services/jwt.go
  internal/services/jwt_test.go
  internal/services/member.go
  pkg/wechat/client.go
  pkg/wechat/client_test.go
Owners: @ddteam/backend-leads, @ddteam/maintainers, @ddteam/api-architects

build: update Go version to 1.24-alpine for Docker compatibility
  Dockerfile
  internal/handlers/account.go
  internal/services/member.go
  internal/services/member_service.go
Owners: @ddteam/devops, @ddteam/maintainers

fix: resolve linting issues and update coding standards
  docs/AGENT_ONBOARDING.md
  internal/config/wechat_test.go
  internal/handlers/member.go
  internal/repositories/franchise_intention_repository.go
  internal/repositories/franchise_intention_repository_test.go
  internal/repositories/member_repository.go
  internal/repositories/member_repository_test.go
  internal/services/cache.go
  internal/services/cache_test.go
  internal/services/jwt.go
  internal/services/jwt_test.go
  internal/services/member_service.go
  internal/services/member_service_test.go
Owners: @ddteam/tech-writers, @ddteam/maintainers

fix: resolve CI test failures and database migration issues
  internal/handlers/account_test.go
  internal/handlers/machine_test.go
  internal/handlers/member_test.go
Owners: @ddteam/maintainers

feat: 大幅提升测试覆盖率至78.2%
  internal/handlers/machine_test.go
  internal/repositories/franchise_intention_repository_test.go
  internal/services/cache_test.go
  internal/services/machine_service_test.go
  internal/services/machine_test.go
  pkg/wechat/client_test.go
Owners: @ddteam/maintainers

fix: 调整CI测试覆盖率要求从80%降至78%
  .github/workflows/ci.yml
Owners: @ddteam/devops

fix: 修复CI linting错误并设置pre-commit检查
  .githooks/README.md
  .githooks/pre-commit
  internal/repositories/franchise_intention_repository_test.go
Owners: @ddteam/maintainers

docs: 更新PR合并指南增加测试质量检查要求
  docs/AGENT_PR_MERGE_GUIDE.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

docs: 补充并行执行决策模型到任务依赖规划指南
  docs/TASK_DEPENDENCY_PLANNING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

feat: implement order management API (Issue #11)
  internal/contracts/order.go
  internal/contracts/order_test.go
  internal/handlers/order.go
  internal/handlers/order_test.go
  internal/repositories/order_repository.go
  internal/repositories/order_repository_test.go
  internal/routes/routes.go
  internal/services/order_service.go
  internal/services/order_service_test.go
Owners: @ddteam/api-architects, @ddteam/maintainers

feat: enhance order management with improved coverage and CI optimization
  .github/workflows/ci.yml
  docs/AGENT_ONBOARDING.md
  internal/handlers/base_test.go
  internal/handlers/order.go
  internal/handlers/order_test.go
  internal/repositories/order_repository.go
  internal/repositories/order_repository_test.go
  internal/services/order_service.go
  internal/services/order_service_test.go
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

feat: 实现GitHub Actions自动PR审查和合并系统
  .github/workflows/auto-pr-review.yml
  .github/workflows/copilot-integration.yml
  docs/AUTO_PR_MERGE_SETUP.md
  scripts/pr-validation.sh
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

fix: 统一GitHub Actions中的Go版本到1.23
  .github/workflows/auto-pr-review.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-integration.yml
Owners: @ddteam/devops

refactor: 优化GitHub Actions工作流，避免重复执行
  .github/workflows/auto-pr-review.yml
  docs/GITHUB_ACTIONS_USAGE.md
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

.github/CODEOWNERS:

# Global owners - these users will be requested for review for all PRs
* @ddteam/maintainers

# Core API contracts - require architecture review
/internal/contracts/ @ddteam/api-architects

# Database models and migrations - require data review
/internal/models/ @ddteam/backend-leads
/migrations/ @ddteam/backend-leads

# Security-related files - require security review
/internal/middleware/auth.go @ddteam/security-team
/cmd/server/main.go @ddteam/backend-leads

# Infrastructure and deployment
/Dockerfile @ddteam/devops
/docker-compose.yml @ddteam/devops
/.github/workflows/ @ddteam/devops

# Documentation - technical writers and maintainers
/docs/ @ddteam/tech-writers @ddteam/maintainers
/README.md @ddteam/tech-writers @ddteam/maintainers
/CLAUDE.md @ddteam/maintainers

# Configuration files
/Makefile @ddteam/backend-leads
/go.mod @ddteam/backend-leads
/go.sum @ddteam/backend-leads
