Repository JinFanZheng/drink-master, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ddteam/maintainers, @ddteam/api-architects, @ddteam/backend-leads, @ddteam/security-team, @ddteam/devops, @ddteam/tech-writers

.github/CODEOWNERS:

# Global owners - these users will be requested for review for all PRs
* @ddteam/maintainers

# Core API contracts - require architecture review
/internal/contracts/ @ddteam/api-architects

# Database models and migrations - require data review
/internal/models/ @ddteam/backend-leads
/migrations/ @ddteam/backend-leads

# Security-related files - require security review
/internal/middleware/auth.go @ddteam/security-team
/cmd/server/main.go @ddteam/backend-leads

# Infrastructure and deployment
/Dockerfile @ddteam/devops
/docker-compose.yml @ddteam/devops
/.github/workflows/ @ddteam/devops

# Documentation - technical writers and maintainers
/docs/ @ddteam/tech-writers @ddteam/maintainers
/README.md @ddteam/tech-writers @ddteam/maintainers
/CLAUDE.md @ddteam/maintainers

# Configuration files
/Makefile @ddteam/backend-leads
/go.mod @ddteam/backend-leads
/go.sum @ddteam/backend-leads

fix: 修正auto-pr-review.yml工作流PR号获取问题
  .github/workflows/auto-pr-review.yml
Owners: @ddteam/devops

feat: 为auto-pr-review工作流添加手动触发支持
  .github/workflows/auto-pr-review.yml
Owners: @ddteam/devops

fix: 修正auto-pr-review工作流中的API调用问题
  .github/workflows/auto-pr-review.yml
Owners: @ddteam/devops

feat: 启用完整自动合并功能
  .github/workflows/auto-pr-review.yml
  branch_protection.json
Owners: @ddteam/devops, @ddteam/maintainers

feat: implement order management API (Issue #11) (#30)
  .github/workflows/ci.yml
  docs/AGENT_ONBOARDING.md
  internal/contracts/order.go
  internal/contracts/order_test.go
  internal/handlers/base_test.go
  internal/handlers/order.go
  internal/handlers/order_test.go
  internal/repositories/order_repository.go
  internal/repositories/order_repository_test.go
  internal/routes/routes.go
  internal/services/order_service.go
  internal/services/order_service_test.go
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers, @ddteam/api-architects

fix: 使用正确的GitHub API进行自动合并
  .github/workflows/auto-pr-review.yml
Owners: @ddteam/devops

feat: implement enum constants for business status, payment status, and make status (Issue #32)
  .github/workflows/copilot-integration.yml
  docs/GITHUB_ACTIONS_USAGE.md
  internal/enums/business_status.go
  internal/enums/business_status_test.go
  internal/enums/make_status.go
  internal/enums/make_status_test.go
  internal/enums/payment_status.go
  internal/enums/payment_status_test.go
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

更新GitHub Actions使用指南，修正自动审查和合并工作流的相关内容
  docs/GITHUB_ACTIONS_USAGE.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

chore: 删除GitHub Actions自动化配置
  .github/workflows/auto-pr-review.yml
  docs/GITHUB_ACTIONS_USAGE.md
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

feat: implement enum constants for business status, payment status, and make status (#39)
  .github/workflows/auto-pr-review.yml
  .github/workflows/copilot-integration.yml
  docs/GITHUB_ACTIONS_USAGE.md
  internal/enums/business_status.go
  internal/enums/business_status_test.go
  internal/enums/make_status.go
  internal/enums/make_status_test.go
  internal/enums/payment_status.go
  internal/enums/payment_status_test.go
Owners: @ddteam/devops, @ddteam/tech-writers, @ddteam/maintainers

perf: optimize CI workflow performance
  .github/workflows/ci.yml
  CLAUDE.md
  docs/CI_PERFORMANCE_OPTIMIZATION.md
Owners: @ddteam/devops, @ddteam/maintainers, @ddteam/tech-writers

perf: skip security workflow for documentation changes
  .github/workflows/security.yml
Owners: @ddteam/devops

fix: update golangci-lint to v1.59.1 for Go 1.23 compatibility
  .github/workflows/ci.yml
Owners: @ddteam/devops

fix: revert golangci-lint to @latest for Go 1.23 compatibility
  .github/workflows/ci.yml
Owners: @ddteam/devops

feat: modify Order model enum fields from string to int type
  internal/models/models_test.go
  internal/models/order.go
Owners: @ddteam/backend-leads

feat: modify Machine model BusinessStatus field from string to int
  internal/enums/business_status.go
  internal/handlers/machine_owner_test.go
  internal/repositories/machine_test.go
  internal/repositories/order_repository_test.go
  internal/services/machine_owner_test.go
  internal/services/machine_test.go
Owners: @ddteam/maintainers

fix: complete Machine model BusinessStatus enum field migration
  internal/handlers/machine_owner_test.go
  internal/models/machine.go
  internal/models/models_test.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/order_repository_test.go
  internal/services/machine.go
  internal/services/machine_owner_test.go
  internal/services/machine_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: complete Order enum fields migration - services and tests
  internal/handlers/machine_owner_test.go
  internal/repositories/order_repository_test.go
  internal/services/machine_owner.go
  internal/services/machine_owner_test.go
  internal/services/order_service.go
Owners: @ddteam/maintainers

feat: modify Machine model BusinessStatus field from string to int (#42)
  internal/enums/business_status.go
  internal/handlers/machine_owner_test.go
  internal/models/machine.go
  internal/models/models_test.go
  internal/repositories/machine.go
  internal/repositories/machine_test.go
  internal/repositories/order_repository_test.go
  internal/services/machine.go
  internal/services/machine_owner_test.go
  internal/services/machine_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: modify Order model enum fields from string to int type (#41)
  internal/handlers/machine_owner_test.go
  internal/models/models_test.go
  internal/models/order.go
  internal/repositories/order_repository_test.go
  internal/services/machine_owner.go
  internal/services/machine_owner_test.go
  internal/services/order_service.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

更新ROLES_COLLABORATION.md文档，增加任务拆解编译兼容性原则，明确开发任务的原子性要求和禁止的拆解方式，提供推荐的拆解方式及检查清单，以提升任务管理的清晰度和交付质量。
  docs/ROLES_COLLABORATION.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

feat: enhance API responses with status descriptions
  internal/contracts/machine.go
  internal/contracts/order.go
  internal/services/machine.go
  internal/services/order_service.go
Owners: @ddteam/api-architects, @ddteam/maintainers

feat: enhance API responses with status descriptions (#43)
  internal/contracts/machine.go
  internal/contracts/order.go
  internal/services/machine.go
  internal/services/order_service.go
Owners: @ddteam/api-architects, @ddteam/maintainers

docs: update AGENT_ONBOARDING.md to use worktree-based workflow
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

docs: add branch-aware workflow support in AGENT_ONBOARDING.md
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

feat: improve test coverage from 70.3% to 71.5%
  cmd/server/main_test.go
  internal/enums/business_status_test.go
  internal/models/models_test.go
  internal/services/order_service_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: improve test coverage from 70.3% to 71.5% (#49)
  cmd/server/main_test.go
  internal/enums/business_status_test.go
  internal/models/models_test.go
  internal/services/order_service_test.go
Owners: @ddteam/maintainers, @ddteam/backend-leads

feat: implement payment system API for Sprint 3.2
  docs/AGENT_ONBOARDING.md
  internal/contracts/payment.go
  internal/contracts/payment_test.go
  internal/handlers/payment.go
  internal/handlers/payment_test.go
  internal/services/payment_service.go
  internal/services/payment_service_test.go
Owners: @ddteam/tech-writers, @ddteam/maintainers, @ddteam/api-architects

fix: resolve payment service type errors and format issues
  internal/services/payment_service.go
Owners: @ddteam/maintainers

fix: resolve GitHub Actions failures
  internal/handlers/payment.go
Owners: @ddteam/maintainers

fix: resolve goimports formatting issue
  internal/services/payment_service.go
Owners: @ddteam/maintainers

fix: add database migration to payment handler tests
  internal/handlers/payment_test.go
Owners: @ddteam/maintainers

fix: resolve linting issues in payment_test.go
  internal/handlers/payment_test.go
Owners: @ddteam/maintainers

docs: 增加GitHub Actions CI/CD验证流程到开发指南
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

ci: optimize test strategy for better reliability
  .github/workflows/ci.yml
Owners: @ddteam/devops

feat: Payment system API implementation for Sprint 3.2 (#50)
  .github/workflows/ci.yml
  internal/contracts/payment.go
  internal/contracts/payment_test.go
  internal/handlers/payment.go
  internal/handlers/payment_test.go
  internal/services/payment_service.go
  internal/services/payment_service_test.go
Owners: @ddteam/devops, @ddteam/api-architects, @ddteam/maintainers

docs: optimize Agent workflow in AGENT_ONBOARDING.md - separate Agent and user responsibilities
  docs/AGENT_ONBOARDING.md
Owners: @ddteam/tech-writers, @ddteam/maintainers

feat: implement payment callback API for Sprint 3.3
  go.mod
  go.sum
  internal/contracts/payment.go
  internal/handlers/callback.go
  internal/handlers/callback_test.go
  internal/handlers/order_test.go
  internal/handlers/payment.go
  internal/handlers/payment_test.go
  internal/routes/routes.go
  internal/services/order_service.go
Owners: @ddteam/backend-leads, @ddteam/api-architects, @ddteam/maintainers

feat: Material silo management API implementation
  internal/contracts/material_silo.go
  internal/contracts/material_silo_test.go
  internal/enums/sale_status.go
  internal/enums/sale_status_test.go
  internal/handlers/material_silo.go
  internal/handlers/material_silo_test.go
  internal/models/material_silo.go
  internal/models/material_silo_test.go
  internal/models/models.go
  internal/models/models_test.go
  internal/repositories/material_silo.go
  internal/repositories/material_silo_test.go
  internal/repositories/product.go
  internal/routes/routes.go
  internal/services/machine_test.go
  internal/services/material_silo.go
  internal/services/material_silo_test.go
Owners: @ddteam/api-architects, @ddteam/maintainers, @ddteam/backend-leads

fix: improve test coverage from 69.2% to 70.5%
  internal/services/order_service_test.go
Owners: @ddteam/maintainers
